@model MailRequest

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <div class="alert alert-success"><h3>Mail Gönderme Sayfası</h3></div>
    <form method="post">
        <label>Alıcı Mail Adresi</label>
        <input type="text" asp-for="ReceiverMail" class="form-control" />
        <label>Mail Konusu</label>
        <input type="text" asp-for="Subject" class="form-control" />
        <label>Mail İçeriği</label>
        <input type="text" asp-for="MessageContent" class="form-control" />
        <br />
        <button class="btn btn-primary">Gönder</button>
    </form>
</div>