
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        
        @await Component.InvokeAsync("ShoppingCartProductList")

        @*@await Component.InvokeAsync("ShoppingCartCouponDiscount")*@

        @await Html.PartialAsync("~/Views/Discount/ConfirmDiscountCoupon.cshtml")

    </div>
</div>